:root {
	--accent-faded: #001536;
	--accent: #003282;
	--fun: #FF77FF;
	--DARKNESS: #d6d6d6;
	--blood: red;
}

/* wrapper stuff */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  position: relative;
  background-image: url('assets/images/bg.gif');
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.main {
  display: flex;
  position: relative;
  max-width: 100%;
  z-index: 1;
  background-color: hsla(0,0%,0%,0.75)
}

.inner {
  padding: 2rem 3rem;
  max-width: 100%;
  width: 44rem;
  z-index: 1;
}

.gamebox {
	margin: 4px;
	padding: 16px;
	border: 2px solid var(--DARKNESS);
	display: inline-block;
	width: 256px;
}

/* animations */
@keyframes bobbing {
0% 		{ margin-top: 0; }
25% 	{ margin-top: 1px; }
50% 	{ margin-top: 0; }
75% 	{ margin-top: -1px; }
100% 	{ margin-top: 0; }
}

@keyframes blink {
0% {opacity:1}
49% {opacity:1}
50% {opacity:0}
100%{opacity:0}
}

/* text */
.text {
  font-family: 'Poppins', 'Roboto', '-apple-system', 'Helvetica Neue', 'system-ui', 'Arial', 'Helvetica', sans-serif;
  color: white;
  z-index: 1;
}
a { color: inherit; }

/* my custom font */
@font-face {
  font-family: PixelPetit;
  src: url("assets/fonts/PixelPetit.ttf")
}

/* some fun font styles */
.note {
  font-family: "Poppins", -apple-system, "Helvetica Neue", system-ui, "Tahoma", "Segoe UI", "Helvetica", sans-serif;
  opacity: 0.75;
  font-size: 0.9rem;
}

.DEATH {
	font-family: serif;
	font-size: 1.2rem;
	color: var(--DARKNESS);
	opacity: 80%;
	font-weight: 600;
}

.serious {
	font-family: "Roboto", -apple-system, system-ui, "Verdana", "Segoe UI", "Helvetica", sans-serif;
}
.serious a {color: #be2222; text-decoration: none;}

.lighthearted {
	color: var(--fun);
}

.love {
  font-family: "PixelPetit", monospace, sans-serif;
  font-size: 24px;
}

.blink {
  animation: blink 2s infinite 0s;
}

.luv {
  display: inline-flex;
  margin-bottom: 50px;
  position: absolute;
  margin-left: 0.5rem;
}

.luv1 { animation: bobbing 1.2s infinite -1s; }
.luv2 { animation: bobbing 1.2s infinite -0.8s; }
.luv3 { animation: bobbing 1.2s infinite -0.6s; }
.luv4 { animation: bobbing 1.2s infinite -0.4s; }
.luv5 { animation: bobbing 1.2s infinite -0.2s; }
.luv6 { animation: bobbing 1.2s infinite 0s; }

.emphasis {
  animation: bobbing 3s infinite;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* page intro */
.header {
  font-weight: normal;
  font-family: "PixelPetit", monospace, sans-serif;
  font-smooth: never;
  -webkit-font-smoothing : none;
}

#intro-header {
  font-family: "PixelPetit", monospace, sans-serif;
  font-size: 48px;
  font-smooth: never;
  -webkit-font-smoothing : none; }
#intro-header .tags {
	display: inline-block;
}
#intro-header span.pronouns {
  font-size: 32px;
  background-color: var(--accent);
  color: white;
  padding: 8px 16px;
}
#intro-header span.flag {
  font-size: 32px;
  background-image: url('assets/images/bipride.svg');
  background-size: cover;
  color: white;
  padding: 8px 8px 8px 16px;
}

#fullbody-avatar {
	height: 100%;
	margin-bottom: -200px;
	-webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 65%);
}

h2 {
  font-size: 32px;
}
h3 {
  font-size: 16px;
}

body {
  background-color: #F0F0F0;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  word-wrap: break-word;
  overflow-x: hidden;
  display: block;
}

.disabled {
  display: none;
}

/* images */

img.avatar {
  width: 16rem;
  height: 16rem;
  border-radius: 10%;
}
img {
  max-width: 100%;
  border-radius: 10px;
}

/* separators */

.separator {
  display: block;
  height: 5px;
  border: 0;
  border-top: 2px solid #fff;
  opacity: 0.5;
}
#intro-separator {
  border-top: 4px solid var(--accent);
  margin-top: -25px;
  margin-bottom: 20px;
}
h2.header + .separator {
  margin-top: -24px;
}
h3.header + .separator {
  margin-top: -16px;
  border-top: 1px solid #000;
}

h2.header#health-header + .separator {
	display: none;
}

#links-header + .separator {
  border-left: 128px solid #fff;
}

#discord-plus-header + .separator {
  border-left: 256px solid #fff;
}

/* icon code */

a .icon {
  height: 32px;
  width: 32px;
  border-radius: 0;
}

[href^="https://imgur.com/"] .icon {
  border-radius: 50%;
}

.icons {
  list-style: none;
  padding-inline-start: 0;
}

.icons li {
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
}
